{% extends 'core/base.html' %}

{% block content %}
    <!-- Page Header-->
    <header class="masthead" style="background-image: url('/static/assets/img/home-bg.png')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h1>Esto es sobre una historia de amor.</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
     <!-- Main Content-->
     <main class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <p>Siempre he tenido problemas de inseguridad a la hora de relacionarme con la gente, tal vez por eso nunca me permití que alguien me gustara intensamente, hasta ahora. Así que creo que dejé atrás muchas oportunidades porque tenía miedo de abrir mi corazón.</p>
                    <p>Tengo la cabeza como una tormenta, tengo problemas sin resolver desde mi infancia y mucha ansiedad, pero creo que mis ganas de crecer son mayores. Esta voluntad es aún más fuerte cuando estoy con Mario.</p>
                    <p>Mario es una de las únicas personas con las que me siento cómodo hablando y demostrando mis sentimientos, y que me ayuda a ser mejor persona cada día.</p>
                    <p>De esta manera, este pequeño blog es como un libro, donde quiero registrar cada momento importante de nuestra historia. Así que esta es una historia de amor contada desde mi punto de vista.</p>
                    <p>Cualquier cosa de la que tenga dificultad para hablar en persona, la publicaré aquí.</p>
                    <p>Buena lectura 👉🏻👈🏻</p>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
