{% extends 'core/base.html' %}

{% block content %}
    <!-- Page Header-->
    <header class="masthead" style="background-image: url('/static/assets/img/cursos-bg.jpg')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="post-heading">
                        <h1>{{ curso.titulo }}</h1>
                        <h2 class="subheading">{{ curso.subtitulo }}</h2>
                        {% if curso.data_publicacao %}
                            <span class="meta">
                                Postado por
                                <b>{{ curso.autor.first_name }}</b>
                                em {{ curso.data_publicacao|date:"d/m/Y, à\s H:i" }}.
                            </span>
                        {% endif %}
                        
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Post Content-->
    <article class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    {{ curso.texto|safe }}
                </div>
            </div>
        </div>
    </article>
{% endblock %}
